/* Section polices */

/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(fonts/source-serif-pro-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(fonts/source-serif-pro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    box-sizing: border-box;
}

:root {
    --main-color: #2a2230;
    --main-color-muted: #665e6c;
    --secondary-color: #c02b43;
    --link-color: #a6253a;
    --contrast-color: #f8f6ff;
}

html,
body {
    margin: 0;
    padding: 0;

}

html {
    color: #2a2230;
    font-family: 'Source Serif Pro', serif;
    font-size: 22px;
    line-height: 1.5rem;
}

@media(max-width: 70rem) {
    html {
        font-size: 18px;
    }
}

body {
    background-color: #f8f6ff;
}

a {
    color: #a6253a;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;

    word-wrap: break-word;
}

h1 {
    margin-bottom: 1.75rem;
}

h1 { font-size: 2rem; line-height: 2.5rem; }
h2 { font-size: 1.5rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1.5rem; }

* + h1,
* + h2,
* + h3 {
    margin-top: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p:last-child {
    margin-bottom: 0;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul:last-child,
ol:last-child,
dl:last-child {
    margin-bottom: 0;
}
p + ul,
p + ol,
p + dl {
    margin-top: -.5rem;
}

small {
    font-size: .8em;
    line-height: 1em;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.app-page-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;

    background: linear-gradient(45deg, #c02b43 52vw,
                                       #2a2230 52vw,
                                       #2a2230 calc(52vw + 2px),
                                       transparent calc(52vw + 2px));
    border-bottom: 4px solid #2a2230;
}
.app-page-header .container {
    display: flex;
    align-items: center;
}
.app-page-header .container > * {
    flex-grow: 0;
}
.app-page-header .container > .separator {
    flex-grow: 1;
}
@media(max-width: 70rem) {
    .app-page-header .container {
        flex-direction: column;
    }
}

.app-page-header h1 a {
    color: #f8f6ff;
    text-decoration: none;
}
.app-page-header .app-page-header-title {
    margin-bottom: 0;

    font-size: 1.5rem;
    line-height: 2rem;
}

.app-page {
    padding-bottom: 10rem;
}
@media(max-width: 70rem) {
    .app-page {
        padding-bottom: 5rem;
    }
}

.container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.galleries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-cover {
    width: 20rem;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-right: .5rem;
}

.gallery-cover a {
    text-decoration: none;
}
.gallery-cover img {
    width: 100%;
    height: 12rem;

    border-radius: 0.25rem;
}
.gallery-cover .gallery-cover-name {
    display: block;

    font-size: 1rem;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 2rem;
}

.photo {
    width: 20rem;
    max-width: 100%;
    margin-right: .5rem;
    margin-bottom: 2rem;
}
.photo img {
    width: 100%;
    height: 12rem;
}

/* Section liée au bouton "haut de page" */
#la-haut {
    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 1px;
}

#la-haut button {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    padding: .5rem 1rem;

    opacity: 1;
    visibility: visible;

    transition: all 0.2s ease;

    color: var(--main-color);

    background-color: var(--contrast-color);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
}
#la-haut button::after {
    padding-left: .25rem;

    content: "🎈";
}
#la-haut button:hover {
    color: var(--contrast-color);

    background-color: var(--main-color);
}
#la-haut.entrecoupant button {
    opacity: 0;
    visibility: hidden;
}
