<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="static/style/main.css">
        <title>{{ gallery.name }} · En passant par là…</title>
    </head>
    <body class="app-page app-page-gallery">
        <header class="app-page-header">
            <div class="container">
                <h1 class="app-page-header-title">
                    <a href="index.html">En passant par là…</a>
                </h1>
                <div class="separator"></div>
                <a href="https://marienfressinaud.fr">par @marien</a>
            </div>
        </header>

        <main class="app-page-content">
            <div class="container">
                <h2>{{ gallery.name }}</h2>
                <a class="link-back" href="index.html">Retour aux albums</a>

                <div class="gallery-photos">
                    {% for photo in gallery.photos %}
                        <div class="photo">
                            <a href="{{ photo.url }}" target="_blank" rel="noreferrer">
                                <img src="{{ photo.thumb_url }}" alt="" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <div id="la-haut" class="entrecoupant">
            <button>Retourner là-haut</button>
        </div>

        <script src="static/scripts/retour-en-haut.js"></script>
    </body>
</html>
