<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="static/style/main.css">
        <title>En passant par là…</title>
    </head>
    <body class="app-page app-page-index">
        <header class="app-page-header">
            <div class="container">
                <h1 class="app-page-header-title">
                    <a href="index.html">En passant par là…</a>
                </h1>
                <div class="separator"></div>
                <a href="https://marienfressinaud.fr">par @marien</a>
            </div>
        </header>

        <main class="app-page-content">
            <div class="container">
                <h2>Albums</h2>
                <div class="galleries">
                    {% for gallery in galleries -%}
                        {% if not gallery.private %}
                            <div class="gallery-cover">
                                <a href="{{ gallery.url }}">
                                    <img src="{{ gallery.cover_photo.thumb_url }}" alt="" />
                                    <span class="gallery-cover-name">
                                        {{ gallery.name }}
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>

        <div id="la-haut" class="entrecoupant">
            <button>Retourner là-haut</button>
        </div>

        <script src="static/scripts/retour-en-haut.js"></script>
    </body>
</html>
